/*html, body{*/
	/*!*background-color: #2a618e;*!*/
	/*color: #fbfbfb;*/
/*}*/


.navbar{
	background-color: #173d5b;
}
.sidebar-expanded{
	background-color: #2a618e;
	margin: 0;
}
#sidebar-container{
	background-color: #2a618e;
}
.list-group{
	margin: 0;
}
.list-group-item {
	background-color: #3779a5;
	color: #fbfbfb;
}

.text-help{
	color: #c2c6c4;

}

/*.back_color{*/
	/*background-color: #4678a1;*/
	/*color: #4678a1;*/
	/*background: #4678a1;*/
/*}*/